Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

fix: allow volunteers and managers to scan qrcodes
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

chore: rm unneeded helper functions
  client/src/hooks/useAuth.tsx
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

chore: auth context for profile
  client/src/contexts/AuthContext.tsx
  client/src/pages/Profile/Profile.tsx
Due: disallow-caps, typescript-check-client

chore: streamline survey store
  client/src/pages/Login/Login.tsx
  client/src/stores/useSurveyStore.tsx
Due: disallow-caps, typescript-check-client

feat: update seed pdf template
  scripts/generateSeeds.ts
Due: disallow-caps

fix: style
  scripts/generateSeeds.ts
Due: disallow-caps

feat: update logo + wording
  scripts/assets/logo.png
  scripts/generateSeeds.ts
Due: disallow-caps

feat: log API calls
  server/package-lock.json
  server/package.json
  server/src/index.ts
Due: disallow-caps, typescript-check-server, package-json-lint

feat: log API calls (#116)
  server/package-lock.json
  server/package.json
  server/src/index.ts
Due: disallow-caps, typescript-check-server, package-json-lint

chore: pare down JWT payload
  client/src/contexts/AuthContext.tsx
  client/src/utils/authTokenHandler.ts
  server/src/routes/v1/auth.ts
  server/src/types/auth.ts
  server/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: rm obselete userObjectId from survey store
  client/src/stores/useSurveyStore.tsx
Due: disallow-caps, typescript-check-client

refactor: mc
  README.md
  client/src/pages/Profile/Profile.tsx
Due: disallow-caps, typescript-check-client

chore: Clean-up contexts, hooks, & stores (#114)
  README.md
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useAuth.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/utils/authTokenHandler.ts
  server/src/routes/v1/auth.ts
  server/src/types/auth.ts
  server/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: allow volunteers and managers to scan qrcodes (#113)
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

build: make db name explicit and build both main and test azure
  .github/workflows/azure-webapp-deploy-test.yml
  server/.env.example
  server/src/database/index.ts
Due: disallow-caps, typescript-check-server

feat: super users script (#106)
  scripts/superAdminCRUD.tsx
  server/package.json
Due: disallow-caps, package-json-lint

chore: constrain OTP flow
  server/src/database/user/zod/auth.validator.ts
  server/src/database/user/zod/user.base.ts
  server/src/routes/v1/auth.ts
Due: disallow-caps, typescript-check-server

chore: update client login/signup
  client/src/App.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

chore: form constraints and auth redirects
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/stores/useAuthStore.tsx
Due: disallow-caps, typescript-check-client

style
  client/src/App.tsx
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/stores/useAuthStore.tsx
  client/src/utils/authTokenHandler.ts
  server/src/database/user/zod/auth.validator.ts
  server/src/database/user/zod/user.base.ts
  server/src/routes/v1/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: generate seed mongoose error
  scripts/generateSeeds.ts
Due: disallow-caps

chore: Auth flow improvements (#117)
  client/src/App.tsx
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/stores/useAuthStore.tsx
  client/src/utils/authTokenHandler.ts
  server/src/database/user/zod/auth.validator.ts
  server/src/database/user/zod/user.base.ts
  server/src/routes/v1/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: update seed generation script
  scripts/generateSeeds.ts
  server/package.json
Due: disallow-caps, package-json-lint

feat: update qr code scan workflow
  client/src/pages/ApplyReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

fix: missing comma in package.json
  server/package.json
Due: disallow-caps, package-json-lint

bug: QR code redirect fix (#118)
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  scripts/generateSeeds.ts
Due: disallow-caps, typescript-check-client

feat: pdf generation helper fn
  client/package-lock.json
  client/package.json
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/utils/qrCodeUtils.ts
Due: disallow-caps, typescript-check-client, package-json-lint

chore: update perms
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

feat: QR code pdf bundler (#119)
  client/package-lock.json
  client/package.json
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/utils/qrCodeUtils.ts
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

chore: mc
  client/package-lock.json
  server/src/index.ts
  server/src/routes/v1/__tests__/pages.test.ts
  server/src/routes/v1/pages.ts
  server/src/routes/v1/surveys.ts
Due: disallow-caps, typescript-check-server

build: update app name in gh action :
  .github/workflows/azure-webapp-deploy-test.yml
Due: disallow-caps

bug fixes
  scripts/superAdminCRUD.tsx
Due: disallow-caps

fix: load mongoose correctly
  scripts/superAdminCRUD.tsx
Due: disallow-caps

fix: load mongoose correctly (#121)
  scripts/superAdminCRUD.tsx
Due: disallow-caps

feat: add script to generate blank PDF templates for survey referral coupons based on generate-seeds script.
  scripts/generateCoupons.ts
  server/package.json
Due: disallow-caps, package-json-lint

fix: volunteer permissions monkey patch
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

docs: added explicit guidance on running custom scripts from server/ directory.
  .github/copilot-instructions.md
  .gitignore
Due: disallow-caps

fix: update ability builder, routes, and client loading
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  server/src/permissions/abilityBuilder.ts
  server/src/routes/v2/surveys.ts
  server/src/routes/v2/users.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

updated .gitignore to ignore blank coupons
  .gitignore
Due: disallow-caps

fix: only display your survey entries if you manager or volunteer
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
Due: disallow-caps, typescript-check-client

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
