Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

feat: add fetch-logs command to recover send log from Twilio API
  server/src/scripts/smsCRUD.ts
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server

refactor: make check-status always produce enriched CSV, drop old snapshot mode
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

fix: replace hand-rolled CSV parser with csv-parse to handle multi-line fields
  server/package-lock.json
  server/package.json
  server/src/services/smsLogger.ts
Due: disallow-caps, typescript-check-server, package-json-lint

chore: polish comments and fix stale --update hint in fetch-logs output
  server/src/scripts/smsCRUD.ts
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server

feat: add send-csv command for CSV-based gift card redemption SMS
  server/src/scripts/gift-cards/.gitignore
  server/src/scripts/sms-templates/gift_card_redeem.yaml
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

fix: add peer dependency flag for survey-core in package-lock.json
  client/package-lock.json
Due: disallow-caps

Revert "feat: add send-csv command for CSV-based gift card redemption SMS"
  server/src/scripts/gift-cards/.gitignore
  server/src/scripts/sms-templates/gift_card_redeem.yaml
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

docs: add SMS tooling guide with usage examples and design decisions
  docs/sms-tooling.md
Due: disallow-caps

docs: clarify send-csv design rationale for gift card workflow
  docs/sms-tooling.md
Due: disallow-caps

refactor: lazy-init Twilio client to avoid module-level side effects
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server

fix: replace process.exit() with throw/exitCode to ensure DB cleanup
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

fix: use fileURLToPath for cross-platform path resolution
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

fix: filter CSV amounts numerically to catch "0.00" and empty values
  server/src/scripts/smsCRUD.ts
Due: disallow-caps, typescript-check-server

docs: add CSV column format reference to sms-tooling guide
  docs/sms-tooling.md
Due: disallow-caps

chore: restore package-lock files to pre-fix state
  client/package-lock.json
  server/package-lock.json
Due: disallow-caps

fix: resolve Volunteer profile fetch failing due to CASL permission query overwrite
  IMG_8027.jpg
  client/package-lock.json
  server/package-lock.json
  server/src/routes/users.ts
  volunteer_bug_console_output.png
Due: disallow-caps, typescript-check-server

Update age selection instruction for respondents under 18
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update server/src/routes/users.ts
  server/src/routes/users.ts
Due: disallow-caps, typescript-check-server

removing images
  IMG_8027.jpg
  volunteer_bug_console_output.png
Due: disallow-caps

fix: return 404 instead of 403 when user exists but caller lacks read permission
  server/src/routes/users.ts
Due: disallow-caps, typescript-check-server

Update client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

fix: update age instruction from 0-17 to 12-17 in survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
