Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

fix: only display your survey entries if you manager or volunteer (#126)
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
Due: disallow-caps, typescript-check-client

fix: volunteer permissions monkey patch (#123)
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

fix: casl does not work on client and commented isToday
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  server/src/permissions/abilityBuilder.ts
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

feat: filters and checks for manager
  client/src/pages/Survey/Survey.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
Due: disallow-caps, typescript-check-client

fix: Survey update permissions for volunteers & managers (#124)
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  server/src/permissions/abilityBuilder.ts
  server/src/routes/v2/surveys.ts
  server/src/routes/v2/users.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: comment window reload
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

chore: update survey-core and survey-react-ui to version 2.3.15; change CSS import path in Survey component. This is needed to render some of the new question types and features
  client/package-lock.json
  client/package.json
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client, package-json-lint

feat: update consent and survey pages, add gift card section add instructions for named network list
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

fix: change question types from dropdown to radiogroup for household and special questions
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Update scripts/generateCoupons.ts
  scripts/generateCoupons.ts
Due: disallow-caps

feat: add custom SurveyJS theme with brand colors
  client/src/pages/Survey/utils/surveyTheme.ts
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

Update client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

feat: Update survey structure and upgrade SurveyJS to v2.3.15 (#127)
  client/package-lock.json
  client/package.json
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client, package-json-lint

fix: update package-lock.json after reinstalling dependencies for correct architecture
  server/package-lock.json
Due: disallow-caps

fix: load mongoose correctly (#121)
  scripts/superAdminCRUD.tsx
Due: disallow-caps

chore: add react-hot-toast
  client/package-lock.json
  client/package.json
Due: disallow-caps, package-json-lint

refactor: remove commented code and delete a file
  client/src/types/ReferralCode.ts
  client/src/types/Survey.ts
  client/src/types/User.ts
Due: disallow-caps, typescript-check-client

Multilple improvements
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/PermissionTooltip.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryTable.tsx
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/types/Locations.ts
  client/src/types/ReferralCode.ts
  client/src/types/Survey.ts
  client/src/types/User.ts
  client/tsconfig.json
  server/src/database/user/mongoose/user.model.ts
  server/src/database/user/zod/user.base.ts
  server/src/index.ts
  server/src/middleware/validate.ts
  server/src/models/__tests__/survey.test.ts
  server/src/models/__tests__/users.test.ts
  server/src/models/survey.ts
  server/src/models/users.ts
  server/src/routes/auth.ts
  server/src/routes/locations.ts
  server/src/routes/seeds.ts
  server/src/routes/surveys.ts
  server/src/routes/users.ts
  server/src/routes/validateReferralCode.ts
  server/src/types/models.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: copilot suggestions
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/Survey/Survey.tsx
  server/src/routes/validateReferralCode.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: capture objectId of the user that approved the user
  client/src/hooks/useApi.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
Due: disallow-caps, typescript-check-client

fix: capture objectId of the user that approved the user (#131)
  client/src/hooks/useApi.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
Due: disallow-caps, typescript-check-client

fix: profile page works for any user object id
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/Profile.tsx
Due: disallow-caps, typescript-check-client

fix: profile page works for any user object id (#133)
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/Profile.tsx
Due: disallow-caps, typescript-check-client

feat: update survey pages with improved formatting and logic
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

feat: add interviewer instructions for network size question
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

fix: change survey deduplication question to radiogroup
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Update survey pages with improved formatting and logic (#134)
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

minor review updates
  client/src/hooks/useApi.tsx
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/Survey/Survey.tsx
  server/src/database/user/mongoose/user.model.ts
  server/src/database/user/zod/user.base.ts
  server/src/routes/validateReferralCode.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

feat: add script to generate blank PDF templates for survey referral coupons based on generate-seeds script.
  scripts/generateCoupons.ts
  server/package.json
Due: disallow-caps, package-json-lint

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
