Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

chore: migrate tables to mui, clean up old queries
  client/src/App.tsx
  client/src/pages/AdminDashboard/NewUser.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
Due: disallow-caps, typescript-check-client

feat: create permissions for admin/manager
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

update auth/ability contexts
  client/src/contexts/AbilityContext.ts
  client/src/contexts/AuthContext.tsx
  client/src/contexts/index.ts
  client/src/stores/useAuthStore.tsx
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

feat: perms for dashboards
  client/src/App.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/CompletedSurvey/CompletedSurvey.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/PastEntries/prescreen.json
  client/src/pages/Profile/Profile.tsx
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardControls.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardTable.tsx
  client/src/pages/StaffDashboard/components/index.ts
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/FilterDialog.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardControls.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryTable.tsx
  client/src/pages/SurveyEntryDashboard/components/index.ts
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
  client/src/pages/index.ts
  client/src/utils/authTokenHandler.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

chore: rm old route
  client/src/components/Header.tsx
Due: disallow-caps, typescript-check-client

chore: remove unused logic, fix permission bug on staff dash
  client/src/App.tsx
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardControls.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardTable.tsx
  client/src/pages/StaffDashboard/components/index.ts
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/FilterDialog.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardControls.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryTable.tsx
  client/src/pages/SurveyEntryDashboard/components/index.ts
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
  client/src/types/AuthProps.ts
Due: disallow-caps, typescript-check-client

refactor: only phone for login
  client/src/pages/Login/Login.tsx
  server/src/routes/v1/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

chore: add gh copilot instructions
  .github/copilot-instructions.md
Due: disallow-caps

chore: update tsconfig.json
  client/tsconfig.json
Due: disallow-caps

review: add comments
  client/src/contexts/AuthContext.tsx
  server/src/routes/v1/pages.ts
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

chore: update lock file
  client/package-lock.json
Due: disallow-caps

build: update deployment yaml
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

Client Fixes (#102)
  .github/copilot-instructions.md
  client/package-lock.json
  client/src/contexts/AuthContext.tsx
  client/src/pages/Login/Login.tsx
  client/tsconfig.json
  server/src/routes/v1/auth.ts
  server/src/routes/v1/pages.ts
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: types
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-server

fix: types (#103)
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-server

fix: minor cleanup and fixes
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardControls.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
Due: disallow-caps, typescript-check-client

update constants and import into client
  client/tsconfig.json
  client/vite.config.ts
  server/src/database/utils/constants.ts
  server/src/database/utils/errors.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

server-side updates
  server/src/database/survey/mongoose/survey.hooks.ts
  server/src/database/survey/survey.controller.ts
  server/src/database/survey/zod/survey.validator.ts
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-server

client-side updates
  client/src/hooks/useApi.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/stores/useSurveyStore.tsx
Due: disallow-caps, typescript-check-client

update failing test cases
  server/src/database/seed/mongoose/__tests__/seed.mongoose.test.ts
  server/src/database/survey/mongoose/__tests__/survey.model.test.ts
  server/src/database/survey/zod/__tests__/survey.zod.test.ts
Due: disallow-caps, typescript-check-server

code validation with seed table
  client/src/hooks/useApi.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

feat: script
  .gitignore
  scripts/generateSeeds.ts
  server/package-lock.json
  server/package.json
Due: disallow-caps, package-json-lint

chore: rm deprecated script
  server/package.json
Due: disallow-caps, package-json-lint

feat: script
  scripts/superAdminCRUD.tsx
  server/package.json
Due: disallow-caps, package-json-lint

docs: add comprehensive CONTRIBUTING.md guide
  CONTRIBUTING.md
Due: disallow-caps

docs: add user permissions documentation (resolves #88)
  docs/user-permissions.md
Due: disallow-caps

review: comments and minor fixes
  .github/copilot-instructions.md
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/utils/authTokenHandler.ts
  server/src/database/survey/mongoose/survey.hooks.ts
  server/src/database/survey/survey.controller.ts
  server/src/database/survey/zod/survey.base.ts
  server/src/database/survey/zod/survey.validator.ts
  server/src/database/user/mongoose/user.model.ts
  server/src/middleware/validate.ts
  server/src/models/survey.ts
  server/src/models/users.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/routes/v1/auth.ts
  server/src/routes/v1/pages.ts
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

feat: Seed generation script (#105)
  .gitignore
  scripts/generateSeeds.ts
  server/package-lock.json
  server/package.json
Due: disallow-caps, package-json-lint

refactor: improved qr code print css
  client/src/styles/complete.css
Due: disallow-caps

feat: Fallback seed workflow (#104)
  .github/copilot-instructions.md
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/utils/authTokenHandler.ts
  client/tsconfig.json
  client/vite.config.ts
  server/src/database/seed/mongoose/__tests__/seed.mongoose.test.ts
  server/src/database/survey/mongoose/__tests__/survey.model.test.ts
  server/src/database/survey/mongoose/survey.hooks.ts
  server/src/database/survey/survey.controller.ts
  server/src/database/survey/zod/__tests__/survey.zod.test.ts
  server/src/database/survey/zod/survey.base.ts
  server/src/database/survey/zod/survey.validator.ts
  server/src/database/user/mongoose/user.model.ts
  server/src/database/utils/constants.ts
  server/src/database/utils/errors.ts
  server/src/middleware/validate.ts
  server/src/models/survey.ts
  server/src/models/users.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/routes/v1/auth.ts
  server/src/routes/v1/pages.ts
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: bug #3
  client/src/pages/ApplyReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

fix: bug #3 (#109)
  client/src/pages/ApplyReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

feat: provide ability to print qr codes from survey detail page
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Feat: Update SurveyJson properties
  client/src/pages/Survey/utils/Survey.json
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Update client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Apply suggestions from code review
  client/src/pages/Survey/utils/Survey.json
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

feat: provide ability to print qr codes from survey detail page (#110)
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

refactor: minor formatting and removing static json file
  client/src/pages/Survey/utils/Survey.json
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Survey edits (#111)
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
