Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

.pre-commit-config.yaml:

ci:
    autoupdate_commit_msg: 'chore: update pre-commit hooks'
    autofix_commit_msg: 'style: pre-commit fixes'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 'v4.6.0'
      hooks:
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-json
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace

    # - repo: https://github.com/pre-commit/mirrors-prettier
    #   rev: 'v3.1.0'
    #   hooks:
    #       - id: prettier
    #         types_or: [yaml, markdown, html, css, scss, javascript, ts, tsx, json]
    #         args: [--prose-wrap=always]
    #         exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))
    #         additional_dependencies:
    #             - '@ianvs/prettier-plugin-sort-imports@^4.6.2'

    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.11.1'
      hooks:
          - id: eslint
            files: \.(js|jsx|ts|tsx)$
            #args: [--fix]
            additional_dependencies:
                - eslint@^8.57.0
                - '@typescript-eslint/eslint-plugin@^6.0.0'
                - '@typescript-eslint/parser@^6.0.0'
                - eslint-plugin-react@^7.33.0
                - eslint-plugin-react-hooks@^4.6.0

    - repo: https://github.com/codespell-project/codespell
      rev: 'v2.3.0'
      hooks:
          - id: codespell
            exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))

    - repo: local
      hooks:
          - id: disallow-caps
            name: Disallow improper capitalization
            language: pygrep
            entry: Github
            exclude: .pre-commit-config.yaml

          - id: typescript-check-client
            name: TypeScript Check (Client)
            entry: bash -c 'cd client && npm run build'
            language: system
            files: ^client/.*\.(ts|tsx)$
            pass_filenames: false

          - id: typescript-check-server
            name: TypeScript Check (Server)
            entry: bash -c 'cd server && npm run build'
            language: system
            files: ^server/.*\.ts$
            pass_filenames: false

          - id: package-json-lint
            name: Package.json validation
            entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
            language: system
            files: package\.json$
            pass_filenames: false

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: '0.28.4'
      hooks:
          - id: check-dependabot
          - id: check-github-workflows

Fix state sync bug: initialize isCompleted from question model
  client/src/pages/Survey/components/QualtricsQuestion.tsx
Due: disallow-caps, typescript-check-client

Add aria-disabled to iframe when survey completes
  client/src/pages/Survey/components/QualtricsQuestion.tsx
Due: disallow-caps, typescript-check-client

Replace native buttons with Material-UI components
  client/src/pages/Survey/components/QualtricsQuestion.tsx
Due: disallow-caps, typescript-check-client

Add accessibility attributes to buttons
  client/src/pages/Survey/components/QualtricsQuestion.tsx
Due: disallow-caps, typescript-check-client

fix: Add font-src to CSP to allow font loading
  server/src/index.ts
Due: disallow-caps, typescript-check-server

refactor: moved location CRUD script to server/src
  server/package-lock.json
  server/package.json
  server/src/scripts/locationCRUD.ts
  server/src/scripts/sample-data/locations.yaml
Due: disallow-caps, typescript-check-server, package-json-lint

remove: old location crud file
  scripts/locationCRUD.tsx
Due: disallow-caps

feat: location script (#137)
  server/package-lock.json
  server/package.json
  server/src/scripts/locationCRUD.ts
  server/src/scripts/sample-data/locations.yaml
Due: disallow-caps, typescript-check-server, package-json-lint

support plain json format
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

update field handling
  client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

Update client/src/hooks/useAbility.tsx
  client/src/hooks/useAbility.tsx
Due: disallow-caps, typescript-check-client

Timezone Fixes (#153)
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useAbility.tsx
  server/src/middleware/auth.ts
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/permissions/utils.ts
  server/src/routes/users.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

Update server/.env.example
  server/.env.example
Due: disallow-caps

Update client/src/components/forms/LocationSelect.tsx
  client/src/components/forms/LocationSelect.tsx
Due: disallow-caps, typescript-check-client

revert: gh copilot fix
  client/src/components/forms/LocationSelect.tsx
Due: disallow-caps, typescript-check-client

refactor: move all scripts to server folder
  scripts/generateCoupons.ts
  server/package.json
  server/src/scripts/assets/logo.png
  server/src/scripts/coupons/.gitignore
  server/src/scripts/generateCoupons.ts
  server/src/scripts/generateSeeds.ts
  server/src/scripts/seeds/.gitignore
  server/src/scripts/superAdminCRUD.ts
Due: disallow-caps, typescript-check-server, package-json-lint

refactor: CASL, Timezone, Database Scripts (#149)
  client/src/components/forms/LocationSelect.tsx
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useAbility.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/types/Seed.ts
  client/src/utils/authTokenHandler.ts
  scripts/generateCoupons.ts
  server/.env.example
  server/package-lock.json
  server/package.json
  server/src/middleware/auth.ts
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/permissions/__tests__/utils.test.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/permissions/utils.ts
  server/src/routes/users.ts
  server/src/scripts/assets/logo.png
  server/src/scripts/coupons/.gitignore
  server/src/scripts/generateCoupons.ts
  server/src/scripts/generateSeeds.ts
  server/src/scripts/locationCRUD.ts
  server/src/scripts/sample-data/locations.yaml
  server/src/scripts/seeds/.gitignore
  server/src/scripts/superAdminCRUD.ts
Due: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

refactor: Standardize survey.json following SurveyJS best practices
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

updated the survey.json with recent changes
  client/src/pages/Survey/utils/survey_old.json
  client/src/pages/Survey/utils/temp.tsx
Due: disallow-caps, typescript-check-client

Delete client/src/pages/Survey/utils/survey_old.json
  client/src/pages/Survey/utils/survey_old.json
Due: disallow-caps

Delete client/src/pages/Survey/utils/temp.tsx
  client/src/pages/Survey/utils/temp.tsx
Due: disallow-caps, typescript-check-client

fix: ts error
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

working on creating region specific seed templates, reading locations from JSON
  scripts/generateSeeds.ts
  scripts/seed_templates.json
Due: disallow-caps

Add seed templates for survey locations across King County with multilingual support.
  server/src/scripts/assets/kcrha_logo.png
  server/src/scripts/assets/uw_logo.png
  server/src/scripts/generateSeeds.ts
  server/src/scripts/seed_templates.json
Due: disallow-caps, typescript-check-server

Remove logo.png asset from project
  server/src/scripts/assets/logo.png
Due: disallow-caps

Update KCRHA PIT Count PDF generation with improved layout and standardized templates
  server/src/scripts/generateSeeds.ts
  server/src/scripts/seed_templates.json
Due: disallow-caps, typescript-check-server

Add KCRHA PIT Count 2026 survey locations YAML file
  server/src/scripts/locations.yaml
Due: disallow-caps

Add adult and youth consent forms to survey
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Updated the survey module with the most recent edits from the KCRHA. Specifically, I added the youth consent form, and add condition for which questions are going to be excluded from youth survey.
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

feat: update survey structure and consent form for Unsheltered Point-in-Time Count 2026
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Refactor 'Choose not to answer' to use showNoneItem pattern
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps
