Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

.pre-commit-config.yaml:

ci:
    autoupdate_commit_msg: 'chore: update pre-commit hooks'
    autofix_commit_msg: 'style: pre-commit fixes'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 'v4.6.0'
      hooks:
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-json
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace

    # - repo: https://github.com/pre-commit/mirrors-prettier
    #   rev: 'v3.1.0'
    #   hooks:
    #       - id: prettier
    #         types_or: [yaml, markdown, html, css, scss, javascript, ts, tsx, json]
    #         args: [--prose-wrap=always]
    #         exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))
    #         additional_dependencies:
    #             - '@ianvs/prettier-plugin-sort-imports@^4.6.2'

    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.11.1'
      hooks:
          - id: eslint
            files: \.(js|jsx|ts|tsx)$
            #args: [--fix]
            additional_dependencies:
                - eslint@^8.57.0
                - '@typescript-eslint/eslint-plugin@^6.0.0'
                - '@typescript-eslint/parser@^6.0.0'
                - eslint-plugin-react@^7.33.0
                - eslint-plugin-react-hooks@^4.6.0

    - repo: https://github.com/codespell-project/codespell
      rev: 'v2.3.0'
      hooks:
          - id: codespell
            exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))

    - repo: local
      hooks:
          - id: disallow-caps
            name: Disallow improper capitalization
            language: pygrep
            entry: Github
            exclude: .pre-commit-config.yaml

          - id: typescript-check-client
            name: TypeScript Check (Client)
            entry: bash -c 'cd client && npm run build'
            language: system
            files: ^client/.*\.(ts|tsx)$
            pass_filenames: false

          - id: typescript-check-server
            name: TypeScript Check (Server)
            entry: bash -c 'cd server && npm run build'
            language: system
            files: ^server/.*\.ts$
            pass_filenames: false

          - id: package-json-lint
            name: Package.json validation
            entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
            language: system
            files: package\.json$
            pass_filenames: false

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: '0.28.4'
      hooks:
          - id: check-dependabot
          - id: check-github-workflows

fix: add 'otherText' field to survey options and adjust visibility conditions
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

fix: add showNoneItem to va_health_eligible question for consistency
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

feat: migrate deployments to rds-app-kc with deployment slots
  .github/workflows/azure-webapp-deploy-temp.yml
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

Remove custom navigation arrow buttons from Survey component
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

fix: 148
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

fix: update deployment configurations for Azure workflows
  .github/workflows/azure-webapp-deploy-temp.yml
  .github/workflows/azure-webapp-deploy-test.yml
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

fix: issue #143
  client/src/components/Header.tsx
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/styles/ApplyReferral.css
  client/src/styles/SurveyDetailsCss.css
  client/src/utils/qrCodeUtils.ts
  server/src/database/survey/survey.controller.ts
  server/src/middleware/auth.ts
  server/src/routes/surveys.ts
  server/src/routes/validateReferralCode.ts
  server/src/scripts/generateSeeds.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

Secret names can't have hyphen (-), so I updated them with underscore (_)
  .github/workflows/azure-webapp-deploy-temp.yml
  .github/workflows/azure-webapp-deploy-test.yml
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

fix: issue #152
  client/src/components/Header.tsx
  client/src/styles/header.css
Due: disallow-caps, typescript-check-client

fix: issue #150
  client/src/pages/QrPage/QrPage.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/styles/complete.css
Due: disallow-caps, typescript-check-client

fix: update visibility conditions for amenities and churn questions and refine ethnicity labels in survey
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update .github/workflows/azure-webapp-deploy-temp.yml
  .github/workflows/azure-webapp-deploy-temp.yml
Due: disallow-caps

Rename workflow file for RDS app deployment
  .github/workflows/azure-webapp-deploy-rds-app-kc-test.yml
Due: disallow-caps

Add new workflow for Azure Web App deployment
  .github/workflows/azure-webapp-deploy-rds-app-kc-prod.yml
Due: disallow-caps

Remove temporary Azure Web App deployment workflow
  .github/workflows/azure-webapp-deploy-temp.yml
Due: disallow-caps

Updating surveyJS version
  client/package-lock.json
  client/package.json
Due: disallow-caps, package-json-lint

Update client/package-lock.json
  client/package-lock.json
Due: disallow-caps

updated the date picker with date ranges including 12 year olds. also change field names to the most update version for compatibilty.
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

docs: database security instructions on azure
  docs/database-security.md
Due: disallow-caps

Update date range in survey JSON for accuracy for shelter services question
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Add winter shelter questions and removed mandatory reporting items from precipating events and shelter services questions, fixed the phone number format and updated age categories to start from 12
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Add end page section with instructions and comments for survey completion
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Fix second gift card visibility to check all household members
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

minor survey fix
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Add location filtering and fix table column order in survey dashboard
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/FilterDialog.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardControls.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
Due: disallow-caps, typescript-check-client

Update filterSurveysByLocation to handle undefined surveys
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
Due: disallow-caps, typescript-check-client

Update button label and heading to reflect coupon code terminology
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/QrPage/QrPage.tsx
Due: disallow-caps, typescript-check-client

Update heading in ApplyReferral component to clarify survey initiation
  client/src/pages/ApplyReferral/ApplyReferral.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Refactor survey initialization in edit mode and update SurveyDetails component to enhance data handling and display
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/styles/SurveyDetailsCss.css
Due: disallow-caps, typescript-check-client

Update client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Update client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Refactor location filtering to ensure unique and valid location names in SurveyEntryDashboard
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
Due: disallow-caps, typescript-check-client

Remove createdAt field from searchSurveys function parameters
  client/src/pages/SurveyEntryDashboard/utils/SurveyEntryDashboardUtils.tsx
Due: disallow-caps, typescript-check-client

Fix visibility conditions for adult-related options in survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update server/src/scripts/locations.yaml
  server/src/scripts/locations.yaml
Due: disallow-caps

Add previous page button and styles to header component
  client/src/components/Header.tsx
  client/src/styles/header.css
Due: disallow-caps, typescript-check-client

Update StaffDashboard columns to show Name, Role, Location, Phone, Status, Actions
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardTable.tsx
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
Due: disallow-caps, typescript-check-client
