Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

Update previous page button to navigate to apply-referral from survey pages
  client/src/components/Header.tsx
Due: disallow-caps, typescript-check-client

Add location filter to Staff Dashboard
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardControls.tsx
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
Due: disallow-caps, typescript-check-client

Fix performance issue: fetch single survey instead of all surveys
  client/src/hooks/useApi.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Update StaffDashboard columns to show Name, Role, Location, Phone, Status, Actions
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardTable.tsx
  client/src/pages/StaffDashboard/utils/StaffDashboardUtils.tsx
Due: disallow-caps, typescript-check-client

Sorting locations alphabetically by name for easier lookup.
  server/src/routes/locations.ts
Due: disallow-caps, typescript-check-server

feat: coupon code printing on iPad with Web Share API fallback
  client/src/utils/qrCodeUtils.ts
Due: disallow-caps, typescript-check-client

refactor: enhance mobile QR code sharing with Web Share API detection
  client/src/utils/qrCodeUtils.ts
Due: disallow-caps, typescript-check-client

Update client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Refactor survey initialization in edit mode and update SurveyDetails component to enhance data handling and display
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/styles/SurveyDetailsCss.css
Due: disallow-caps, typescript-check-client

Update client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

Add funding support section to README
  README.md
Due: disallow-caps

updating survey details
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

working on creating region specific seed templates, reading locations from JSON
  scripts/generateSeeds.ts
  scripts/seed_templates.json
Due: disallow-caps

Remove logo.png asset from project
  server/src/scripts/assets/logo.png
Due: disallow-caps

Add seed templates for survey locations across King County with multilingual support.
  server/src/scripts/assets/kcrha_logo.png
  server/src/scripts/assets/uw_logo.png
  server/src/scripts/generateSeeds.ts
  server/src/scripts/seed_templates.json
Due: disallow-caps, typescript-check-server

Update KCRHA PIT Count PDF generation with improved layout and standardized templates
  server/src/scripts/generateSeeds.ts
  server/src/scripts/seed_templates.json
Due: disallow-caps, typescript-check-server

updated vashon template
  server/src/scripts/seed_templates.json
Due: disallow-caps

Update Gift Card Information section formatting to match other sections
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

fixed the bugs in the survey module regarding conditional visibility.
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

stardizated condition syntax.
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Refactor SurveyDetails component to improve error handling and code organization
  client/src/pages/Survey/utils/surveyUtils.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
Due: disallow-caps, typescript-check-client

Improve navigation flow with role-based routing
  client/src/components/Header.tsx
Due: disallow-caps, typescript-check-client

Add navigation rules for /add-new-user and /qrcode routes
  client/src/components/Header.tsx
Due: disallow-caps, typescript-check-client

Update survey.json to enhance conditional visibility and add random choice ordering
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Refactor travel location question to use radiogroup and expand city options by region
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update referral instructions for clarity and conciseness
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Add instruction note for travel questions at Mary's Place Phone Line
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

asd
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update visibility conditions for travel questions at Mary's Place Phone Line
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

Update age selection instruction for respondents under 18
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

fix: resolve Volunteer profile fetch failing due to CASL permission query overwrite
  IMG_8027.jpg
  client/package-lock.json
  server/package-lock.json
  server/src/routes/users.ts
  volunteer_bug_console_output.png
Due: disallow-caps, typescript-check-server

removing images
  IMG_8027.jpg
  volunteer_bug_console_output.png
Due: disallow-caps

chore: restore package-lock files to pre-fix state
  client/package-lock.json
  server/package-lock.json
Due: disallow-caps

Add SMS functionality with Twilio integration and logging support
  server/.env.example
  server/package.json
  server/src/scripts/sms-logs/.gitignore
  server/src/scripts/sms-templates/gift_card.yaml
  server/src/scripts/smsCRUD.ts
  server/src/services/smsLogger.ts
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server, package-json-lint

Update server/src/routes/users.ts
  server/src/routes/users.ts
Due: disallow-caps, typescript-check-server

added sms features
  server/src/scripts/sms-templates/gift_card.yaml
  server/src/scripts/smsCRUD.ts
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server

fix: return 404 instead of 403 when user exists but caller lacks read permission
  server/src/routes/users.ts
Due: disallow-caps, typescript-check-server

feat: capture numSegments at send time + enriched status CSV via check-status --update
  server/src/scripts/smsCRUD.ts
  server/src/services/smsLogger.ts
  server/src/services/twilio.ts
Due: disallow-caps, typescript-check-server

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
