Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

disallow-caps:
  name: Disallow improper capitalization
  language: pygrep
  entry: Github

typescript-check-client:
  name: TypeScript Check (Client)
  entry: bash -c 'cd client && npm run build'
  language: system
  pass_filenames: false

typescript-check-server:
  name: TypeScript Check (Server)
  entry: bash -c 'cd server && npm run build'
  language: system
  pass_filenames: false

package-json-lint:
  name: Package.json validation
  entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
  language: system
  pass_filenames: false

fix: remove default values from zod validators to avoid permission failures
  server/src/database/seed/zod/seed.base.ts
  server/src/database/seed/zod/seed.validator.ts
  server/src/database/user/zod/user.base.ts
Due: disallow-caps, typescript-check-server

chore: update race-condition and nullish op lints
  server/src/middleware/auth.ts
Due: disallow-caps, typescript-check-server

entered env variables
  server/.env.example
Due: disallow-caps

initial setup
  client/package-lock.json
  server/package-lock.json
Due: disallow-caps

Feat: Externalize survey definition to JSON file
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/pages/Survey/survey.json
Due: disallow-caps, typescript-check-client

chore: add test suite
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/utils/__tests__/roleBasedAccess.test.ts
Due: disallow-caps, typescript-check-server

first prototype for qualtrics is complete. This demonstrates the frontend, backend integrations needs to be done separetely.
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/pages/Survey/qualtrics.json
Due: disallow-caps, typescript-check-client

fix: investigate endpoint debug
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/routes/v2/locations.ts
  server/src/routes/v2/surveys.ts
  server/src/routes/v2/users.ts
  server/src/types/auth.ts
  server/src/utils/utils.ts
Due: disallow-caps, typescript-check-server

chore: update constants
  server/src/database/seed/zod/__tests__/seed.zod.test.ts
  server/src/database/survey/mongoose/__tests__/survey.model.test.ts
  server/src/database/user/mongoose/__tests__/user.mongoose.test.ts
  server/src/database/user/mongoose/user.model.ts
  server/src/database/user/zod/user.base.ts
  server/src/database/utils/constants.ts
  server/src/permissions/constants.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-server

chore: update custom permissions
  server/src/database/user/mongoose/user.model.ts
  server/src/database/user/zod/user.base.ts
  server/src/middleware/auth.ts
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

refactor: rm sparse utils file
  server/src/middleware/auth.ts
  server/src/utils/utils.ts
Due: disallow-caps, typescript-check-server

fix: delayed auth rejection for custom permissions
  server/src/permissions/abilityBuilder.ts
  server/src/routes/v2/users.ts
Due: disallow-caps, typescript-check-server

feat: add super admin + incorporate into seed/loc routes
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/constants.ts
  server/src/routes/v2/locations.ts
  server/src/routes/v2/seeds.ts
Due: disallow-caps, typescript-check-server

feat: udpate survey gen
  server/src/database/survey/survey.controller.ts
  server/src/database/utils/constants.ts
Due: disallow-caps, typescript-check-server

refactor: type jwt payload
  server/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-server

refactor: add todo to old models file
  server/src/types/models.ts
Due: disallow-caps, typescript-check-server

fix: update user signup to match new schemas
  client/src/pages/Signup/Signup.tsx
  server/src/routes/v1/auth.ts
  server/src/routes/v2/locations.ts
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

refactor: send user role to ability builder directly
  server/src/middleware/auth.ts
  server/src/permissions/__tests__/abilityBuilder.test.ts
  server/src/permissions/abilityBuilder.ts
Due: disallow-caps, typescript-check-server

refactor: minor type edits
  server/src/permissions/constants.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-server

feat: udpate survey code generation (#99)
  server/src/database/survey/survey.controller.ts
  server/src/database/utils/constants.ts
Due: disallow-caps, typescript-check-server

fix: copilot reviews
  server/.env.example
  server/src/database/survey/mongoose/__tests__/survey.model.test.ts
  server/src/index.ts
  server/src/permissions/__tests__/abilityBuilder.test.ts
Due: disallow-caps, typescript-check-server

chore: compound index for latest survey by user
  server/src/database/survey/mongoose/survey.model.ts
Due: disallow-caps, typescript-check-server

refactor: minor updates
  client/package-lock.json
  client/src/App.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/Login/Login.tsx
  client/src/theme/muiTheme.ts
Due: disallow-caps, typescript-check-client

feat: migrate Login component to Material-UI (#95)
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/Login/Login.tsx
  client/src/styles/login.css
  client/src/theme/muiTheme.ts
Due: disallow-caps, typescript-check-client, package-json-lint

fix: deployment bug
  server/package.json
Due: disallow-caps, package-json-lint

fix: deployment bug again
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

fix: apply coding standards to Material-UI components
  client/src/pages/Login/Login.tsx
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

feat: migrate Apply Referral form to Material-UI
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
  client/src/styles/ApplyReferral.css
Due: disallow-caps, typescript-check-client

feat: migrate Header component to Material-UI
  client/src/pages/Header/Header.tsx
  client/src/styles/header.css
Due: disallow-caps, typescript-check-client

feat: migrate Signup page to Material-UI
  client/src/pages/Signup/Signup.tsx
Due: disallow-caps, typescript-check-client

remove unused signup.css after MUI migration and minor refactor
  client/src/styles/signup.css
Due: disallow-caps

minor refactor
  client/src/pages/Login/Login.tsx
Due: disallow-caps, typescript-check-client

initial survey outline + backend compatability
  client/package.json
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/ProtectedRoute.tsx
  client/src/components/index.ts
  client/src/contexts/AbilityContext.ts
  client/src/contexts/AuthContext.tsx
  client/src/contexts/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useAbility.tsx
  client/src/hooks/useApi.tsx
  client/src/hooks/useAuth.tsx
  client/src/pages/AdminDashboard/NewUser.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/Profile/AdminEditProfile.tsx
  client/src/pages/Profile/ViewProfile.tsx
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/pages/Survey/SurveyJson.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/stores/index.ts
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/types/AuthProps.ts
  client/src/utils/authTokenHandler.ts
  client/tsconfig.json
  client/vite.config.ts
Due: disallow-caps, typescript-check-client, package-json-lint

chore: ensure surveys in descending order
  server/src/routes/v2/surveys.ts
Due: disallow-caps, typescript-check-server

chore: formatting
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/ProtectedRoute.tsx
  client/src/components/index.ts
  client/src/contexts/AbilityContext.ts
  client/src/contexts/AuthContext.tsx
  client/src/contexts/index.ts
  client/src/hooks/index.ts
  client/src/hooks/useAbility.tsx
  client/src/hooks/useApi.tsx
  client/src/hooks/useAuth.tsx
  client/src/pages/AdminDashboard/NewUser.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/Profile/AdminEditProfile.tsx
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/pages/Survey/SurveyJson.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/stores/index.ts
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/types/AuthProps.ts
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

chore: check var names
  client/src/pages/Survey/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

chore: cleanup services, imports, logs
  client/src/App.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/ViewProfile.tsx
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/stores/useAuthStore.tsx
Due: disallow-caps, typescript-check-client

feat: update client API connections
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/Header.tsx
  client/src/components/ProtectedRoute.tsx
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/components/forms/LocationSelect.tsx
  client/src/components/forms/PermissionTooltip.tsx
  client/src/components/forms/PhoneInput.tsx
  client/src/components/forms/RoleSelect.tsx
  client/src/components/forms/index.ts
  client/src/contexts/AuthContext.tsx
  client/src/hooks/useAbility.tsx
  client/src/hooks/useApi.tsx
  client/src/hooks/useAuth.tsx
  client/src/pages/AdminDashboard/NewUser.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/PastEntries/SurveyEdit.tsx
  client/src/pages/Profile/AdminEditProfile.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Profile/ViewProfile.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/pages/Survey/SurveyJson.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/types/User.ts
  client/src/utils/authTokenHandler.ts
  client/src/utils/surveyUtils.ts
Due: disallow-caps, typescript-check-client, package-json-lint

fix: phone number bug
  server/src/database/user/zod/user.base.ts
  server/src/index.ts
  server/src/middleware/validate.ts
Due: disallow-caps, typescript-check-server

Path conditions:
  disallow-caps: any file but: .pre-commit-config.yaml
  typescript-check-client: any of: ^client/.*\.(ts|tsx)$
  typescript-check-server: any of: ^server/.*\.ts$
  package-json-lint: any of: package\.json$
