Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

.pre-commit-config.yaml:

ci:
    autoupdate_commit_msg: 'chore: update pre-commit hooks'
    autofix_commit_msg: 'style: pre-commit fixes'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 'v4.6.0'
      hooks:
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-json
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: 'v3.1.0'
      hooks:
          - id: prettier
            types_or: [yaml, markdown, html, css, scss, javascript, typescript, tsx, json]
            args: [--prose-wrap=always]
            exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))

    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.11.1'
      hooks:
          - id: eslint
            files: \.(js|jsx|ts|tsx)$
            args: [--fix]
            additional_dependencies:
                - eslint@^8.57.0
                - '@typescript-eslint/eslint-plugin@^6.0.0'
                - '@typescript-eslint/parser@^6.0.0'
                - eslint-plugin-react@^7.33.0
                - eslint-plugin-react-hooks@^4.6.0

    - repo: https://github.com/codespell-project/codespell
      rev: 'v2.3.0'
      hooks:
          - id: codespell
            exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))

    - repo: local
      hooks:
          - id: disallow-caps
            name: Disallow improper capitalization
            language: pygrep
            entry: Github
            exclude: .pre-commit-config.yaml

          - id: typescript-check-client
            name: TypeScript Check (Client)
            entry: bash -c 'cd client && npm run build'
            language: system
            files: ^client/.*\.(ts|tsx)$
            pass_filenames: false

          - id: typescript-check-server
            name: TypeScript Check (Server)
            entry: bash -c 'cd server && npm run build'
            language: system
            files: ^server/.*\.ts$
            pass_filenames: false

          - id: package-json-lint
            name: Package.json validation
            entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
            language: system
            files: package\.json$
            pass_filenames: false

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: '0.28.4'
      hooks:
          - id: check-dependabot
          - id: check-github-workflows

chore: Update PR template
  .github/pull_request_template.md
Due: disallow-caps

chore: move pre-commit to a simpler gh action
  .github/workflows/pre-commit-simple.yml
  .github/workflows/quality-checks.yml
Due: disallow-caps

refactor: update gh action name
  .github/workflows/pre-commit-simple.yml
Due: disallow-caps

Update GH Actions to Pre Commit Hooks
  .github/pull_request_template.md
  .github/workflows/pre-commit-simple.yml
  .github/workflows/quality-checks.yml
  .pre-commit-config.yaml
  client/eslint.config.js
  client/package-lock.json
  client/package.json
  server/eslint.config.js
  server/package-lock.json
  server/package.json
Due: disallow-caps, package-json-lint

Revert "style: pre-commit fixes"
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/release.yml
  .gitignore
  README.md
  client/src/logo.svg
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/PastEntries/SurveyEdit.tsx
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/styles/ApplyReferral.css
  client/src/styles/PastEntriesCss.css
  client/src/styles/SurveyDashboard.css
  client/src/styles/SurveyDetailsCss.css
  client/src/styles/complete.css
  client/src/styles/header.css
  client/src/styles/login.css
  client/src/styles/profile.css
  client/src/styles/signup.css
  client/src/utils/authTokenHandler.ts
  docs/deployment.md
  server/.env.example
  server/.gitignore
  server/__tests__/database.test.js
  server/__tests__/server.test.js
  server/src/__tests__/database.test.ts
  server/src/routes/__tests__/pages.test.ts
  server/src/utils/__tests__/authTokenHandler.test.ts
  server/src/utils/__tests__/generateReferralCode.test.ts
  server/utils/__tests__/generateReferralCode.test.js
  server/web.config
  terraform/.gitignore
  terraform/README.md
  terraform/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: disallow-caps, typescript-check-client, typescript-check-server

minimal lint
  client/src/components/survey/SurveyComponent.tsx
  client/src/pages/Login/Login.tsx
Due: disallow-caps, typescript-check-client

refactor
  client/src/App.tsx
  client/src/pages/PastEntries/SurveyEdit.tsx
  client/src/pages/PastEntries/prescreen.json
  client/src/pages/Survey/SurveyComponent.tsx
Due: disallow-caps, typescript-check-client

code nulling
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

Streamlining Survey Data Passing Between Components (#46)
  README.md
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/pages/Login/Login.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/PastEntries/SurveyEdit.tsx
  client/src/pages/PastEntries/prescreen.json
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
  client/src/pages/Survey/SurveyComponent.tsx
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/styles/SurveyDetailsCss.css
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client, package-json-lint

test: Update and fix server tests
  server/__tests__/database.test.js
  server/__tests__/server.test.js
  server/jest.config.ts
  server/src/models/Users.ts
  server/src/models/__tests__/users.test.ts
  server/src/utils/authTokenHandler.ts
  server/tsconfig.json
Due: disallow-caps, typescript-check-server

remove: Delete stale code
  server/utils/__tests__/generateReferralCode.test.js
  server/utils/authTokenHandler.js
  server/utils/generateReferralCode.js
Due: disallow-caps

rename: lower case model files
  server/src/models/survey.ts
  server/src/models/users.ts
Due: disallow-caps, typescript-check-server

Delete server/src/models/Survey.ts
  server/src/models/Survey.ts
Due: disallow-caps, typescript-check-server

Delete server/src/models/Users.ts
  server/src/models/Users.ts
Due: disallow-caps, typescript-check-server

Revert "Delete server/src/models/Users.ts"
  server/src/models/Users.ts
Due: disallow-caps, typescript-check-server

Revert "Delete server/src/models/Survey.ts"
  server/src/models/Survey.ts
Due: disallow-caps, typescript-check-server

fix: user lowercase survey.ts
  server/src/models/Survey.ts
Due: disallow-caps, typescript-check-server

fix: use lowercase users.ts
  server/src/models/Users.ts
Due: disallow-caps, typescript-check-server

refactor(models): Add comments ts interfaces
  server/src/types/models.ts
Due: disallow-caps, typescript-check-server

refactor: change inProgress to completed in survey schema
  server/src/models/__tests__/survey.test.ts
  server/src/models/survey.ts
Due: disallow-caps, typescript-check-server

fix(api): Update validate-ref api
  server/src/routes/surveys.ts
Due: disallow-caps, typescript-check-server

refactor(database): remote dotenv
  server/src/database.ts
Due: disallow-caps, typescript-check-server

fix: add firstName to jwt
  server/src/middleware/auth.ts
Due: disallow-caps, typescript-check-server

refactor: Update AuthenticatedRequest type
  server/src/types/auth.ts
Due: disallow-caps, typescript-check-server

feat(api): add /save api
  server/src/routes/surveys.ts
Due: disallow-caps, typescript-check-server

chore(ci): fix pre-commit config
  .pre-commit-config.yaml
Due: none

chore(ci): update pre-commit config
  .pre-commit-config.yaml
Due: none

Server Api Updates (#79)
  server/src/database.ts
  server/src/middleware/auth.ts
  server/src/models/__tests__/survey.test.ts
  server/src/models/survey.ts
  server/src/routes/surveys.ts
  server/src/types/auth.ts
  server/src/types/models.ts
Due: disallow-caps, typescript-check-server

feat: redirect in-progress referral codes
  client/src/pages/QRCodeScan&Referral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

feat: support objectId and partial clear in SurveyStore
  client/src/stores/useSurveyStore.tsx
Due: disallow-caps, typescript-check-client

feat: load in-progress surveys and save on page change
  client/src/pages/Survey/SurveyComponent.tsx
Due: disallow-caps, typescript-check-client

chore: remove unnecessary logging
  client/src/pages/Survey/SurveyComponent.tsx
Due: disallow-caps, typescript-check-client

bug: safe redirect on invalid referral code
  client/src/pages/Survey/SurveyComponent.tsx
Due: disallow-caps, typescript-check-client

chore: rename referral folder
  client/src/App.tsx
  client/src/pages/QRCodeScan&Referral/ApplyReferral.tsx
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client

lint: Fix eslint errors
  .pre-commit-config.yaml
  client/src/pages/AdminDashboard/NewUser.tsx
  client/src/pages/AdminDashboard/StaffDashboard.tsx
  client/src/pages/CompletedSurvey/QrPage.tsx
  client/src/pages/PastEntries/PastEntries.tsx
  client/src/pages/PastEntries/SurveyDetails.tsx
  client/src/pages/PastEntries/SurveyEdit.tsx
  client/src/pages/Profile/AdminEditProfile.tsx
  client/src/pages/Profile/ViewProfile.tsx
  client/src/pages/QRCodeScan&Referral/ApplyReferral.tsx
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/types/Survey.ts
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

chore: update pre-commit
  .pre-commit-config.yaml
Due: none

chore: update pre-commmit config
  .pre-commit-config.yaml
Due: none

fix: pre-commit
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/dependabot.yml
  .github/release.yml
  .gitignore
  README.md
  client/package.json
  client/src/logo.svg
  client/src/pages/LandingPage/LandingPage.tsx
  client/src/stores/useAuthStore.tsx
  client/src/stores/useSurveyStore.tsx
  client/src/styles/ApplyReferral.css
  client/src/styles/PastEntriesCss.css
  client/src/styles/SurveyDashboard.css
  client/src/styles/SurveyDetailsCss.css
  client/src/styles/complete.css
  client/src/styles/header.css
  client/src/styles/login.css
  client/src/styles/profile.css
  client/src/styles/signup.css
  server/.env.example
  server/.gitignore
  server/package.json
  server/src/__tests__/database.test.ts
  server/src/routes/__tests__/pages.test.ts
  server/src/utils/__tests__/authTokenHandler.test.ts
  server/src/utils/__tests__/generateReferralCode.test.ts
  server/web.config
  terraform/.gitignore
  terraform/README.md
  terraform/main.tf
  terraform/terraform.tfvars.example
  terraform/variables.tf
Due: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

fix: eslint errors
  server/src/index.ts
  server/src/middleware/auth.ts
  server/src/routes/auth.ts
  server/src/routes/surveys.ts
Due: disallow-caps, typescript-check-server

chore: simplify ApplyReferral logic
  client/src/pages/QRCodeScanAndReferral/ApplyReferral.tsx
Due: disallow-caps, typescript-check-client
