Repository uw-ssec/respondent-driven-sampling: changes, and which pre-commit hooks are due for each by the changed paths.
All: disallow-caps, typescript-check-client, typescript-check-server, package-json-lint

.pre-commit-config.yaml:

ci:
    autoupdate_commit_msg: 'chore: update pre-commit hooks'
    autofix_commit_msg: 'style: pre-commit fixes'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: 'v4.6.0'
      hooks:
          - id: check-added-large-files
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-json
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
          - id: trailing-whitespace

    # - repo: https://github.com/pre-commit/mirrors-prettier
    #   rev: 'v3.1.0'
    #   hooks:
    #       - id: prettier
    #         types_or: [yaml, markdown, html, css, scss, javascript, ts, tsx, json]
    #         args: [--prose-wrap=always]
    #         exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))
    #         additional_dependencies:
    #             - '@ianvs/prettier-plugin-sort-imports@^4.6.2'

    - repo: https://github.com/pre-commit/mirrors-eslint
      rev: 'v9.11.1'
      hooks:
          - id: eslint
            files: \.(js|jsx|ts|tsx)$
            #args: [--fix]
            additional_dependencies:
                - eslint@^8.57.0
                - '@typescript-eslint/eslint-plugin@^6.0.0'
                - '@typescript-eslint/parser@^6.0.0'
                - eslint-plugin-react@^7.33.0
                - eslint-plugin-react-hooks@^4.6.0

    - repo: https://github.com/codespell-project/codespell
      rev: 'v2.3.0'
      hooks:
          - id: codespell
            exclude: ^(client/dist/|server/build/|.*\.min\.(js|css))

    - repo: local
      hooks:
          - id: disallow-caps
            name: Disallow improper capitalization
            language: pygrep
            entry: Github
            exclude: .pre-commit-config.yaml

          - id: typescript-check-client
            name: TypeScript Check (Client)
            entry: bash -c 'cd client && npm run build'
            language: system
            files: ^client/.*\.(ts|tsx)$
            pass_filenames: false

          - id: typescript-check-server
            name: TypeScript Check (Server)
            entry: bash -c 'cd server && npm run build'
            language: system
            files: ^server/.*\.ts$
            pass_filenames: false

          - id: package-json-lint
            name: Package.json validation
            entry: bash -c 'for f in client/package.json server/package.json; do [ -f "$f" ] && echo "Checking $f" && python3 -m json.tool "$f" > /dev/null; done'
            language: system
            files: package\.json$
            pass_filenames: false

    - repo: https://github.com/python-jsonschema/check-jsonschema
      rev: '0.28.4'
      hooks:
          - id: check-dependabot
          - id: check-github-workflows

updated .gitignore to ignore blank coupons
  .gitignore
Due: disallow-caps

Update scripts/generateCoupons.ts
  scripts/generateCoupons.ts
Due: disallow-caps

spelling fixes
  client/src/pages/Survey/utils/SurveyJson.tsx
Due: disallow-caps, typescript-check-client

Update Azure Web App name in deployment workflow
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

Update Azure App Service name in deployment workflow
  .github/workflows/azure-webapp-deploy-test.yml
Due: disallow-caps

Update README.md
  README.md
Due: disallow-caps

Update publish profile secret for Azure deployment
  .github/workflows/azure-webapp-deploy.yml
Due: disallow-caps

Add location CRUD script for managing hub locations
  scripts/locationCRUD.tsx
Due: disallow-caps

Add location script to package.json
  server/package.json
Due: disallow-caps, package-json-lint

Update scripts/locationCRUD.tsx
  scripts/locationCRUD.tsx
Due: disallow-caps

Add timestamps to Location model for audit trail
  server/src/database/location/mongoose/location.model.ts
Due: disallow-caps, typescript-check-server

Apply suggestions from code review
  scripts/locationCRUD.tsx
Due: disallow-caps

Fix all ESLint errors in client code
  client/src/components/forms/FormInput.tsx
  client/src/components/forms/FormSelect.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/utils/authTokenHandler.ts
  client/src/utils/qrCodeUtils.ts
Due: disallow-caps, typescript-check-client

support plain json format
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/utils/SurveyJson.tsx
  client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

feat: location script
  scripts/locationCRUD.tsx
  server/package.json
Due: disallow-caps, package-json-lint

update field handling
  client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/surveyUtils.tsx
Due: disallow-caps, typescript-check-client

fix: client casl
  client/src/hooks/index.ts
  client/src/hooks/useApi/useApi.tsx
  client/src/hooks/useApi/utils.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/types/Seed.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

simplyify survey fetch
  client/src/hooks/useApi/useApi.tsx
Due: disallow-caps, typescript-check-client

simplify fetch and normalize function
  client/src/hooks/useApi/useApi.tsx
Due: disallow-caps, typescript-check-client

feat: Integrate Qualtrics survey as custom SurveyJS question type
  client/package-lock.json
  client/src/pages/Survey/QualtricsFlow.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/components/QualtricsQuestion.tsx
  client/src/pages/Survey/components/QualtricsSurvey.tsx
  client/src/pages/Survey/utils/preScreenQuestions.json
  client/src/pages/Survey/utils/survey.json
  client/src/pages/index.ts
  server/.env.example
  server/src/index.ts
  server/src/routes/config.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

fix: Use Zustand store for survey code in Qualtrics component
  client/src/pages/Survey/QualtricsFlow.tsx
  client/src/pages/Survey/components/QualtricsQuestion.tsx
  client/src/pages/Survey/components/QualtricsSurvey.tsx
  client/src/pages/Survey/utils/preScreenQuestions.json
  client/src/pages/index.ts
Due: disallow-caps, typescript-check-client

refactor: Improve Qualtrics integration with best practices
  client/src/pages/Survey/components/QualtricsQuestion.tsx
  server/src/routes/config.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

updated with qualtrics instructions
  README.md
Due: disallow-caps

review: add comments for Natalie
  client/src/hooks/useApi/useApi.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  server/.env.example
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

Applied suggestions by copilot PR review
  client/src/pages/Survey/components/QualtricsQuestion.tsx
  client/src/pages/Survey/utils/survey.json
  server/src/index.ts
  server/src/routes/config.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

Fixed lint errors
  client/src/pages/Survey/Survey.tsx
  client/src/pages/Survey/components/QualtricsQuestion.tsx
Due: disallow-caps, typescript-check-client

fix: Add Qualtrics domain to CSP frame-src and resolve lint errors
  server/src/index.ts
Due: disallow-caps, typescript-check-server

removed consent questions as they are being asked in qualtrics side
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps

deserialization updates
  client/src/components/forms/LocationSelect.tsx
  client/src/hooks/useApi/useApi.tsx
  client/src/hooks/useApi/utils.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/Survey/Survey.tsx
Due: disallow-caps, typescript-check-client

timezone handling updates
  server/.env.example
  server/src/permissions/__tests__/utils.test.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-server

bulk import options
  scripts/locationCRUD.tsx
  server/package-lock.json
  server/package.json
Due: disallow-caps, package-json-lint

refactor: consolidate useApi
  client/src/hooks/index.ts
  client/src/hooks/useApi.tsx
  client/src/hooks/useApi/utils.tsx
Due: disallow-caps, typescript-check-client

refactor: update signup page with api response structure
  client/src/pages/Signup/Signup.tsx
Due: disallow-caps, typescript-check-client

refactor: mc
  client/src/pages/Survey/Survey.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/utils/authTokenHandler.ts
Due: disallow-caps, typescript-check-client

fix: Client CASL (#138)
  client/src/components/forms/LocationSelect.tsx
  client/src/hooks/useApi.tsx
  client/src/pages/NewUser/NewUser.tsx
  client/src/pages/Profile/Profile.tsx
  client/src/pages/Signup/Signup.tsx
  client/src/pages/StaffDashboard/StaffDashboard.tsx
  client/src/pages/StaffDashboard/components/StaffDashboardRow.tsx
  client/src/pages/Survey/Survey.tsx
  client/src/pages/SurveyDetails/SurveyDetails.tsx
  client/src/pages/SurveyEntryDashboard/SurveyEntryDashboard.tsx
  client/src/pages/SurveyEntryDashboard/components/SurveyEntryDashboardRow.tsx
  client/src/types/Seed.ts
  client/src/utils/authTokenHandler.ts
  server/.env.example
  server/src/permissions/__tests__/utils.test.ts
  server/src/permissions/abilityBuilder.ts
  server/src/permissions/utils.ts
Due: disallow-caps, typescript-check-client, typescript-check-server

build: update gh action test deployment
  .github/workflows/azure-webapp-deploy-test.yml
Due: disallow-caps

Prevent accidental navigation from Qualtrics page
  client/src/pages/Survey/components/QualtricsQuestion.tsx
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps, typescript-check-client

Update client/src/pages/Survey/utils/survey.json
  client/src/pages/Survey/utils/survey.json
Due: disallow-caps
